.AnnouncementBar {
  position: relative;
  z-index: 1;
  background-color: #000;
  color: var(--white-color);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 0;
}
.AnnouncementBar span {
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
}

.scrollingText {
  display: inline-block;
  animation: scroll-left 30s linear infinite;
}

/* .scrollingText span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
} */

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
