.searchDrawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #fdf9f9;
  color: var(--black-color);
  min-height: 100vh;
  width: 30%;
  z-index: 4;
  /* transform: translateX(100%); */
  /* translateX(0);  */
  /* to show the cart-drawer */
  transition: var(--all-transition);
  /* display: none; */
  display: block;
  /* to show the cart-drawer */
  z-index: 10001;
  /* overflow-y: scroll; */
  transition: var(--all-transition);
}
.searchHeader {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.searchDrawer input {
  width: 90%;
  padding: 14px;
  background: transparent;
  border: none;
}
.searchDrawer input:focus {
  outline: none;
}
.searchDrawer input::placeholder {
  color: gray;
}
.searchDrawer i {
  font-size: 18px;
}
.searchDrawer i:hover {
  cursor: pointer;
}
/* search-products */
.searchDrawer .productName h6 a {
  text-decoration: none;
  color: black;
  transition: var(--all-transition);
}
.searchDrawer .productName h6 a:hover {
  color: #111111cd;
}
.search-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.518);
  padding: 10px 0;
  font-weight: 600;
  font-size: 14px;
}
/* no results */
.noProductFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noProductFound p {
  color: red;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .searchDrawer {
    width: 100%;
    height: 110vh;
  }
}
