.CartDrawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #fdf9f9;
  color: var(--black-color);
  min-height: 100vh;
  width: 30%;
  z-index: 4;
  transform: translateX(0%);
  /* translateX(0);  */
  /* to show the CartDrawer */
  transition: var(--all-transition);
  /* display: none; */
  display: block;
  /* to show the CartDrawer */
  z-index: 10001;
  /* overflow-y: scroll; */
  transition: var(--all-transition);
}
/* CartDrawer */
.CartDrawer .CartHeader h4 {
  font-size: 14px;
}
.CartDrawer .CartHeader i {
  font-size: 18px;
}
.CartDrawer .CartHeader i:hover {
  cursor: pointer;
}
/* CartDrawer inital */

.CartDrawer .InitialCart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.CartDrawer .InitialCart i {
  font-size: 50px;
}
.CartDrawer .InitialCart button {
  position: relative;
  background-color: var(--black-color);
  border: none;
  padding: 10px 20px;
  transition: var(--all-transition);
}
.CartDrawer .InitialCart button a {
  font-weight: 600;
  text-decoration: none;
  color: var(--white-color);
  position: relative;
  z-index: 3;
  transition: var(--all-transition);
}
.CartDrawer .InitialCart button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  z-index: 1;
  transform: translateY(100%);
  transition: var(--all-transition);
}
.CartDrawer .InitialCart button:hover {
  border: 1px solid var(--black-color);
}
.CartDrawer .InitialCart button:hover::after {
  transform: translateY(0);
}
.CartDrawer .InitialCart button:hover a {
  color: var(--black-color);
}
/* cart-products */
.CartDrawer .CartProductImg img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.productNameSize a {
  color: var(--black-color);
  text-decoration: none;
}
.CartPrdouctDetails span {
  color: gray;
}
.CartPrdouctDetails i:hover {
  cursor: pointer;
}
.TrashIcon {
  color: rgb(228 37 37);
}
.CartDrawer .CartWrapper {
  min-height: 90vh;
}
.CheckOutSection span {
  font-size: 12px;
  color: gray;
}
.CheckOutSection button {
  position: relative;
  background-color: var(--black-color);
  border: none;
  padding: 10px 20px;
  transition: var(--all-transition);
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.CheckOutSection button a {
  font-weight: 600;
  text-decoration: none;
  color: var(--white-color);
  position: relative;
  z-index: 3;
  transition: var(--all-transition);
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
}

/* Hover Effects */
.CheckOutSection button:hover {
  background-color: var(--main-color);
}

.CheckOutSection button a:hover {
  color: var(--white-color);
}

/* The small circle icon */
.CheckOutSection a {
  text-decoration: none;
}
.CheckOutSection button i {
  font-size: 8px;
  color: var(--white-color);
}

.CheckOutSection button:hover {
  background-color: #111111cd;
}
.CheckOutSection button span {
  font-size: 16px;
  color: var(--white-color);
}
.CheckOutSection .ViewCart {
  color: var(--black-color);
  font-size: 12px;
  transition: var(--all-transition);
}
.CheckOutSection .ViewCart:hover {
  color: #111111cd;
}
@media (max-width: 992px) {
  .CartDrawer {
    width: 100%;
    height: 110vh;
  }
}
