/* footer .*/
footer {
  background-color: #111;
  color: white;
  padding: 3rem 0;
}
.footer h4 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer li a {
  text-decoration: none;
  color: white;
  transition: var(--all-transition);
}
.footer li a:hover {
  color: brown;
}
.footer input[type="email"] {
  background-color: transparent;
  color: white;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.514);
  margin-bottom: 1rem;
  transition: var(--all-transition);
}
.footer input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.822);
  text-align: start;
}
.footer input[type="email"]:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}
.copyright {
  color: rgba(255, 255, 255, 0.493);
  padding: 1rem 0;

  font-size: 14px;
}
