.productCard {
  border: none;
  text-align: center;
  transition: var(--all-transition);
  position: relative;
}
.productImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.saleBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--black-color);
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
}
.oldPrice {
  text-decoration: line-through;
  color: #888;
  font-size: 0.9rem;
}
.newPrice {
  color: red;
  font-weight: 600;
  font-size: 1rem;
}
.availability {
  font-size: 0.85rem;
  color: #666;
}
.cardBody {
  text-align: start;
}
.productCard a {
  text-decoration: none;
  color: var(--black-color);
  transition: var(--all-transition);
}
.small {
  font-weight: 600;
  font-size: 12px;
}
.productImg {
  transition: all 0.3s ease-in-out;
}
